@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css");
body {
  font-family: 'Merriweather', serif !important;
}

.navbar-custom {
  background-color: #F0E9D2;
}

.navbar-custom a {
  color: #181D31;
}

.navbar-custom a:hover {
  color: #678983;
}

.navbar-custom a.active {
  font-weight: 700;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("../assets/hamburger.svg");
}

.banner {
  background-image: url("../assets/banner.webp");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50vh;
  min-height: 380px;
}

.banner p, .banner h1 {
  color: #181D31;
  text-shadow: 1px 1px 3px #F0E9D2;
}

.content {
  text-align: justify;
}

.content .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .title::before, .content .title::after {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 2px;
  content: '';
  background-color: #000;
}

.content .title::before {
  margin-right: .5rem;
}

.content .title::after {
  margin-left: .5rem;
}

@media only screen and (min-width: 1200px) {
  .content .title {
    margin: 0 10.5em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .content .title {
    margin: 0 2em;
  }
}

.content .bookBox {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #E4E4E4;
  padding: 0.75rem 0.75rem;
  max-width: 626px;
}

.content .bookBox a {
  color: #678983;
}

.content .bookBox a:hover {
  color: #181D31;
}

.content .bookBox .bookBoxLink {
  margin-top: .75em;
}

.content .bookBox .bookBoxTitle {
  margin: .75em 0;
}

@media only screen and (max-width: 1199px) {
  .content .bookBox .bookBoxTitle {
    margin-top: 2em;
  }
}

.info:nth-child(2n) {
  background-color: #F0E9D2;
}

.info:nth-child(2n) .infoImg {
  -webkit-box-ordinal-group: 3 !important;
      -ms-flex-order: 2 !important;
          order: 2 !important;
}

@media all and (max-width: 1399px) {
  .info:nth-child(2n) .infoImg {
    -webkit-box-ordinal-group: 1 !important;
        -ms-flex-order: 0 !important;
            order: 0 !important;
  }
}

.overlay {
  position: relative;
  width: 100%;
  max-width: 626px;
  margin: 0 auto;
}

.overlay:hover .overlayImage {
  opacity: 0.3;
}

.overlay:hover .overlayText {
  opacity: 1;
}

.overlay .overlayImage {
  display: block;
  opacity: 1;
  width: 100%;
  height: auto;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.overlay .overlayText {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #181D31;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
}

.overlay .overlayText h3 {
  font-size: 1.25rem;
}

@media only screen and (max-width: 1199px) {
  .overlay .overlayText {
    top: 100%;
    text-align: right;
    opacity: 1;
    margin: .75rem 0;
  }
  .overlay .overlayText h3 {
    font-size: .85rem;
  }
}

.infoTitle {
  margin-top: 1em;
}

.specialBg {
  background-color: #F0E9D2;
}

.footer {
  background-color: #181D31;
  color: #E4E4E4;
  padding: 2em 1em;
  margin-top: 5em;
}

.footer .footerTitle {
  font-weight: bold;
  font-size: 1.2em;
  margin: .5em 0;
}

.footer .footerElement {
  font-size: .8em;
  text-align: justify;
}

.btn.btn-primary {
  background-color: #181D31 !important;
  border-color: #181D31 !important;
}

.btn.btn-redes {
  width: 3rem;
  height: 3rem;
  line-height: 2.75rem;
  padding: 0;
  border-radius: 2em;
}
/*# sourceMappingURL=style.css.map */