body {
    font-family: 'Merriweather', serif !important;
}

.navbar-custom{
    background-color: $dark-beige;
    a {
        color: $dark-blue;
        &:hover{
            color: $turquoise;
        }
        &.active {
            font-weight: 700;
        }
    }
}

.custom-toggler .navbar-toggler-icon{
	background-image: url('../assets/hamburger.svg');
}

.banner {
    background-image: map-get($banner-style,bgImg);
    background-position: map-get($banner-style,bgPosition);
    background-size: map-get($banner-style,bgSize);
    @include setSize(map-get($banner-style,width), map-get($banner-style,height));
    min-height: map-get($banner-style,minHeight);
    
    p, h1 {
        color: $dark-blue;
        text-shadow: 1px 1px 3px $dark-beige;
    }
}

.content {
    text-align: justify;

    .title {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        &::before, &::after{
            flex-grow: 1;
            height: 2px;
            content: '';
            background-color: #000;
        }
        &::before{
            margin-right: .5rem;
        }
        &::after{
            margin-left: .5rem;
        }

        @media only screen and (min-width: 1200px) {
            margin: 0 10.5em;
        }
        @media only screen and (min-width: 768px) and (max-width: 1199px){
            margin: 0 2em;
        }

    }

    .bookBox {
        border-style: map-get($bookBox-style,borderStyle);
        border-width: map-get($bookBox-style,borderWidth);
        border-color: map-get($bookBox-style,borderColor);
        padding: map-get($bookBox-style,padding);
        margin: map-get($bookBox-style,margin);
        max-width: map-get($bookBox-style,maxWidth);

        a{
            color: $turquoise;
            &:hover {
                color: $dark-blue;
            }
        }

        .bookBoxLink {
            margin-top: .75em;
        }

        .bookBoxTitle{
            margin: .75em 0;
            @media only screen and (max-width: 1199px){
                margin-top: 2em
            }
        }
    }
}

.overlay {
    position: relative;
    width: 100%;
    max-width: 626px;
    margin: 0 auto;
    &:hover{
        .overlayImage {
            opacity: 0.3;
        }
        .overlayText {
            opacity: 1;
        }
    }

    .overlayImage {
        display: block;
        opacity: 1;
        @include setSize(100%, auto);
        transition: .5s ease;
    }

    .overlayText {
        position: absolute;
        top: 50%;
        @include setSize(100%, 100%);
        text-align: center;
        color: $dark-blue;
        transition: .5s ease;
        opacity: 0;
        h3 {
            font-size: 1.25rem
        }
        @media only screen and (max-width: 1199px){
            top: 100%;
            text-align: right;
            opacity: 1;
            margin: .75rem 0;
            h3{
                font-size: .85rem;
            }
        }
    }
}

.infoTitle {
    margin-top: 1em;
}

.specialBg {
    background-color: $dark-beige;
}

.footer {
    background-color: $dark-blue;
    color: $light-beige;
    padding: 2em 1em;
    margin-top: 5em;

    .footerTitle {
        font-weight: bold;
        font-size: 1.2em;
        margin: .5em 0;
    }

    .footerElement {
        font-size: .8em;
        text-align: justify;
    }
}

.btn {
    &.btn-primary {
        background-color: $dark-blue !important;
        border-color: $dark-blue !important;
    }
    &.btn-redes{
        width: 3rem;
        height: 3rem;
        line-height: 2.75rem;
        padding: 0;
        border-radius: 2em;
    }
}
